{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ashwin.gg</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no">
		<link rel="canonical" href="https://ashwin.gg/"/>
		<meta name="description" content="League of Legends Ranked Match History Visualizer">
		<meta name="author" content="Ashwin Sethi">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'history/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'koala.png' %}"/>
	</head>
	<body>
		{% block navbar %}
		<nav class="navbar navbar-expand bgGreen notMobile">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'FAQ' %}">FAQ </a></li>
			</ul>
			<div class = "searchBarContainer">
				<form action="{% url 'home' %}" method="get" id="search-form">
					<ul class="navbar-nav text-right">
						<li>
							<input name = "username" class="searchBar" type="text" placeholder="Summoner Name" 
							aria-label="Search" maxlength="16" autocomplete="off">
						</li>	
						<li class="searchButtonContainer align-mid">
							<img src="{% static 'koala.png' %}" class="searchButton" onclick="submitSearchForm()">
						</li>
					</ul>
				</form>
			</div>
		</nav>
		<div class = "nav-mobile bgGreen">
			<div class = "logo unselectable">
				<a class = "logoText" href="{% url 'home' %}">Ashwin.gg</a>
			</div>
			<div class = "logo">
				<form action="{% url 'home' %}" method="get">
					<input name = "username" class="mobileSearchBar" type="text" placeholder="Summoner Name" aria-label="Search" maxlength="16" minlength="3" autocomplete="off">
				</form>
			</div>
		</div>
		{% endblock %}
		<div class = shell>
			{% block body_content %}{% endblock %}
		</div>
		{% block footer %}
		<div class = "footer">Ashwin.gg isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</div>
		{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>