{% load static %}
<html lang="en">
	<head>
		<title>Ashwin.gg</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="canonical" href="https://ashwin.gg/"/>
		<meta name="description" content="League of Legends Ranked Match History Visualizer">
		<meta name="author" content="Ashwin Sethi">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'history/style.css' %}">
		<link rel="icon" type="image/png" href="{% static 'koala.png' %}"/>
	</head>
	<body class="bg-light">
	<!-- Region Modal -->
	<div class="modal fade" id="regionModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="w-100 text-center">
						<h5 class="modal-title">Region</h5>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body container">
					<div class="row">
					{% for regionItem in regions %}
						<div class="col-4">
							<button class="btn w-100 font-weight-bold" onclick="changeRegion('{{regionItem}}')" data-dismiss="modal">
								{% csrf_token %}
								{{regionItem}}
							</button>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobile Search Modal -->
	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-0">
					<form class="modal-title w-100" action="{% url 'home' %}" method="get">
						<input name="username" id="searchModalFocus" class="form-control text-dark font-size-24px border-0" type="text" placeholder="Summoner Name" aria-label="Search" maxlength="16" autocomplete="off" spellcheck="false">
					</form>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body container">
					<div class="d-flex justify-content-center">
						<div class="container max-width">
							<div class="row">
								{% for search in searches reversed %}
								<div class="col-4 col-lg-2">
									<form action="{% url 'home' %}" method="get" class="d-flex justify-content-center">
										<input type="submit" class="btn btn-link text-dark" name="username" value="{{search}}">
									</form>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark-blue sticky-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Lobby</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Live Game</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'FAQ' %}">FAQ</a>
				</li>
			</ul>
		</div>
		{% block homeButton %}
		<a class="btn bg-light-blue font-weight-bold text-dark-blue d-block d-md-none" href="{% url 'home' %}"><i class="fa fa-home fa-lg p-1"></i></a>
		{% endblock %}
		{% block region %}
		<button class="btn bg-light-blue dropdown-toggle my-2 mr-md-2 font-weight-bold text-dark-blue" id="regionTarget" role="button" data-toggle="modal" data-target="#regionModal" aria-haspopup="true" aria-expanded="false">
			{{region}}
		</button>
		{% endblock %}
		{% block navbar-search %}
		<form action="{% url 'home' %}" class="form-inline my-2 d-none d-md-block mr-1">
			<input name="username" class="form-control mr-1" type="search" placeholder="Summoner Name" aria-label="Search" maxlength="16" autocomplete="off" spellcheck="false">
			<button class="btn bg-light-blue font-weight-bold text-dark-blue" type="submit">Search</button>
		</form>
		<button class="btn bg-light-blue dropdown-toggle my-2 d-block d-md-none mr-1 font-weight-bold text-dark-blue" role="button" data-toggle="modal" data-target="#searchModal" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-search"></i>
		</button>
		{% endblock %}
	</nav>
	<div class="min-vh-100">
	{% block content %}{% endblock %}
	</div>
	{% block footer %}
	<div class = "d-flex justify-content-center">
		<div class = "p-2 w-75 border-top small">
			<div class="d-inline mr-2 mr-sm-3"><a href="{% url 'legal' %}#privacy" class="text-dark">Privacy</a></div>
			<div class="d-inline mr-2 mr-sm-3"><a href="{% url 'legal' %}#license" class="text-dark">License</a></div>
			<div class="d-inline mr-2 mr-sm-3"><a href="{% url 'legal' %}#terms_and_conditions" class="text-dark">Terms and Conditions</a></div>
			<div class="d-inline"><a href="{% url 'legal' %}#contact" class="text-dark">Contact</a></div>
			<div class="font-weight-light text-muted">
				Ashwin.gg isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.
			</div>
		</div>
	</div>
	{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function changeRegion(region) {
			if($.active < 2) {
				$.ajax({
					type: "POST",
					url: "{% url 'region' %}",
					data: {
						'region': region,
						'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
					},
					success: function(response) {
						document.getElementById("regionTarget").innerHTML = response.region;
					},
					error: function (response) {
						alert("There was an error with your request - please try again later");
					}
				});
			}
		}
		$('#searchModal').on('shown.bs.modal', function () {
		    $('#searchModalFocus').focus();
		})
	</script>
	{% block scripts %}{% endblock %}
	</body>
</html>