{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ashwin.gg</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no">
		<link rel="canonical" href="https://ashwin.gg/"/>
		<meta name="description" content="League of Legends Ranked Match History Visualizer">
		<meta name="author" content="Ashwin Sethi">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'history/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}"/>
	</head>
	<body>
		{% block navbar %}
		<nav class="navbar navbar-expand bgGreen">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item d-none d-sm-block"><div class = "logo align-mid unselectable">Ashwin.gg</div></li>
				<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'FAQ' %}">FAQ</a></li>
			</ul>
			<div class = "searchBarContainer">
				<form action="{% url 'home' %}" method="get" id="search-form">
					<ul class="navbar-nav text-right">
						<li>
							<input name = "username" class="searchBar" type="text" placeholder="Summoner Name" 
							aria-label="Search" maxlength="16" minlength="3" autocomplete="off">
						</li>
						<li class="searchButtonContainer align-mid">
							<img src="{% static 'logo.png' %}" class="searchButton" onclick="submitSearchForm()">
						</li>
					</ul>
				</form>
			</div>
		</nav>
		{% endblock %}
		{% block body_content %}{% endblock %}
	</body>
	{% block footer %}
	<div class = "footer">Ashwin.gg is an open-source project and SSL protected for your security </div>
	{% endblock %}
</html>