{% for team in participantData %}
<div class = "extendBlock">
	{% for participant in team %}
	<div class = "extendRow">
		<div class = "championExtend align-mid">
			<div class = "championPortraitExtend">
				<img src="{{cdn}}/{{patch}}/img/champion/{{participant.champion}}.png"/>
			</div>
		</div>
		<div class = "playerInfoTextExtend align-mid">
			<div class = "playerNameExtend">
				{{participant.accountInfo.KDA}}
			</div>
		</div>
		<div class = "runesExtend align-mid">
			<div class = "d-inline-block">
				<div class = "itemExtend align-mid">
					<img src = "{{cdn}}/{{patch}}/img/spell/{{participant.accountInfo.spell1Id}}.png"/>
				</div>
				<div class = "itemExtend align-mid">
					<img src = "{{cdn}}/{{patch}}/img/spell/{{participant.accountInfo.spell2Id}}.png"/>
				</div>
			</div>
		</div>
		<div class = "itemsExtend align-mid">
			<div class = "d-inline-block">
				{% for item in participant.accountInfo.items %}
					<div class = "itemExtend align-mid">
						{% if item != 0 %}
							<img src = "{{cdn}}/{{patch}}/img/item/{{item}}.png" 
							onerror="this.style.display='none'">
						{% endif %}
					</div>
				{% endfor %}
				<div class = "itemExtend align-mid">
					{% if item != 0 %}
						<img src = "{{cdn}}/{{patch}}/img/item/{{participant.accountInfo.trinket}}.png" onerror="this.style.display='none'">
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}