{% extends 'history/base.html' %}
{% block navbar %}{% endblock %}
{% block body_content %}
	<div class = "banner bgGreen"></div>
	<div class="homepage">
		<form action="{% url 'home' %}" method="get">
			<input name = "username" class="searchBarHomepage" type="text" placeholder="Enter a Summoner Name" aria-label="Search" maxlength="16" minlength="3" autocomplete="off">
		</form>
	</div>
	<div class="ashwingg unselectable">
		Ashwin.gg
	</div>
	<div class="searchHistoryHomepage">
		{% for search in searches reversed %}
			<div class="searchHistoryResult">
				<form action="{% url 'home' %}" method="get">
					<input type="submit" class="link-button" name="username" value="{{search}}">
				</form>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block footer %}{% endblock %}