{% extends 'history/base_template.html' %}
{% load static %}
{% block homeButton %}{% endblock %}
{% block navbar-search %}{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-end bg-dark-blue w-100 h-50">
	<img src="{% static 'koala.png' %}" height=225px width=225px class="unselectable" />
</div>
<div class="d-flex justify-content-center searchBarContainer">
	<form class="d-flex justify-content-center align-items-center w-100 h-100 max-width" action="{% url 'home' %}" method="get">	
		<input name="username" class="form-control text-dark text-center font-size-24px w-75" type="text" placeholder="Summoner Name" aria-label="Search" maxlength="16" autocomplete="off" spellcheck="false" autofocus="">
	</form>
</div>
<h5 class="d-flex justify-content-center p-3 w-100">
	{% if searches %} Recent Searches {% else %} No Recent Searches {% endif %}
</h5>
<div class="d-flex justify-content-center">
	<div class="container max-width">
		<div class="row">
			{% for search in searches reversed %}
			<div class="col-4 col-lg-2">
				<form method="get" class="d-flex justify-content-center">
					<input type="submit" class="btn btn-link text-dark" name="username" value="{{search}}">
				</form>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
