{% extends 'history/base_template.html' %}
{% load static %}
{% block content %}
<div class="d-flex align-items-center">
	<div class="container-fluid max-width">
		<div class="row" >
			<div class="col-xl-4">
				<div class="row">
					<div class="col-12 p-3 border-bottom">
						<div class="d-flex justify-content-center align-items-center">
							<div class="d-inline-block f-left p-2">
								<div class = "profileIcon position-relative">
									<img src="{{cdn}}/{{patch}}/img/profileicon/{{dict.profileIconId}}.png" height=100px width=100px/>
									<div class = "summonerLevel bg-dark-blue unselectable text-light"> {{dict.summonerLevel}} </div>
								</div>
							</div>
							<div class="d-inline-block f-left p-2">
								<h4>{{dict.summonerName}}</h4>
								<button type="button" class="btn bg-dark-blue text-white" onclick="javascript:window.location.href=window.location.href"> Update </button>
							</div>
						</div>
					</div>
					<div class="col-12 p-3 border-bottom">
						<div class="d-flex justify-content-center align-items-center">
							<div class="d-inline-block f-left p-2">
								<img src="{{dict.rankUrl}}" height=100px width=100px/>
							</div>
							<div class="d-inline-block f-left p-2">
								<div class="d-inline p-0 text-dark-blue font-weight-bold">{{dict.ELO}}</div>
								<div class="d-inline p-0">{{dict.LP}}</div>
								<div class="p-0">{{dict.winloss}}</div>
								<div class="d-inline p-0 text-dark-blue font-weight-bold">{{dict.winPercent}}</div>
								<div class="d-inline p-0">Win Ratio</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row p-1 d-none d-xl-flex">
					<h5 class="d-flex justify-content-center p-3 w-100">
						{% if searches %} Recent Searches {% else %} No Recent Searches {% endif %}
					</h5>
					{% for search in searches reversed %}
					<div class="col-4">
						<form method="get" class="d-flex justify-content-center small">
							<input type="submit" class="btn btn-link text-dark font-weight-light" name="username" value="{{search}}">
						</form>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-xl-8 d-flex justify-content-center">
				<div class="d-block">
					<div class="matchContainer my-2 container-fluid">
						{% if dict.isInGame %}
							{% if is_mobile %}
								{% include "history/live_mobile.html" with match=dict.matchData summoner=dict.summonerName %}
							{% else %}
								{% include "history/live.html" with match=dict.matchData summoner=dict.summonerName %}
							{% endif %}
						{% endif %}
					</div>
					<div class="d-flex justify-content-center">
						<form action="" id="load-form" class="load" method="post">
							{% csrf_token %}
							<input type="submit" value="Load More" class="btn bg-dark-blue text-white font-weight-bold"/>
						</form>
						<div class="loading">
							<img src="{% static 'load.gif' %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var match = "{% url 'match' %}";
	var extended = "{% url 'extended' %}";
	var live = "{% url 'live' %}";
	var summonerId = "{{dict.summonerId}}"
	var accountId = "{{dict.accountId}}";
	var region = "{{region}}"
	function convertToTime(s) {
		var h = Math.floor(s/3600); //Get whole hours
		s -= h*3600;
		var m = Math.floor(s/60); //Get remaining minutes
		s -= m*60;
		if(h < 1) {
			return m+":"+(s < 10 ? '0'+s : s)
		}
		return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s);
	}
	{% if dict.isInGame	%}
	var liveGameTime = "{{dict.matchData.gameDelta}}";
	setInterval(function () {
		liveGameTime++;
		$(".liveGameDuration").prop('value', "Live Game ("+convertToTime(liveGameTime)+")");
	}, 1000);
	var isInGame = true;
	{% else %}
	var isInGame = false;
	{% endif %}
</script>
<script type="text/javascript" src="{% static 'script.js' %}"></script>
{% endblock %}