<div class="row vw-100 bg-dark border p-1">
	<form method="get" action='live_game' class="m-0 w-100 text-center">
		<input type="hidden" name="username" value="{{summoner}}">
		<input type="submit" class="btn btn-link text-light p-0 liveGameDuration" value="Loading...">
	</form>
</div>
<div class="row vw-100 h-match bg-red bg-live border my-1">
	{% for team in match.participantData %}
	<div class="col-6 h-100 d-block">
		{% for participant in team %}
		<div class="w-100 h-20 d-flex align-items-center">
			<img src="{{cdn}}/{{patch}}/img/champion/{{participant.champion.champion}}.png" height=24px width=24px/>
			<div class="w-playerInfoText mx-1">
				<form action="{% url 'home' %}" method="get" class="w-playerInfoText">
					<input type="submit" class="btn btn-link text-dark font-size-13px w-100 d-block text-truncate text-left float-left p-1" value="{{participant.summonerName}}" name="username">
				</form>
			</div>
			<div class="small font-weight-light">{{participant.role.0}}</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>