{% for match in matchData %}
<div class="h-match d-flex justify-content-center align-items-center">
	<div class="match-dimensions bg-{{match.info.matchStatus}} border rounded">
		<div class = "w-time h-100 d-flex justify-content-center align-items-center text-center float-left">
			<div class = "d-block">
				<h4 class="small">
					{{match.timeStatus}}
				</h4>
				<div class="font-weight-bold">
					{% if match.info.matchStatus == "remake" %}<div class="text-dark"> REMAKE</div>
					{% elif match.info.matchStatus == "win" %} <div class="text-primary">VICTORY</div>
					{% else %} <div class="text-danger">DEFEAT</div>
					{% endif %}
				</div>
				<div class = "small text-secondary">
					{{match.gameDuration}}
				</div>
			</div>
		</div>
		<div class="w-champion h-100 d-flex justify-content-center align-items-center text-center float-left">
			<div class="d-block">
				<img src="{{cdn}}/{{patch}}/img/champion/{{match.info.champion}}.png" height=80px width=80px class="rounded-circle unselectable p-1"/>
				<div class="small">
					{{match.info.championName}}
				</div>
			</div>
		</div>
		<div class="w-ss h-100 d-flex justify-content-center align-items-center float-left">
			<div class="d-block">
				<img src = "{{cdn}}/{{patch}}/img/spell/{{match.info.spell1Id}}.png" height=34px width=34px class="p-2px"/>
				<img src = "{{cdn}}/{{patch}}/img/spell/{{match.info.spell2Id}}.png" height=34px width=34px class="p-2px"/>
			</div>
		</div>
		<div class="w-runes h-100 d-flex justify-content-center align-items-center float-left">
			<div class="d-block">
				<img src = "{{cdn}}/img/{{match.info.runes.all.0}}" height=34px width=34px/>
				<img src = "{{cdn}}/img/{{match.info.runes.subRune}}" height=34x width=34px class="p-6px"/>
			</div>
		</div>
		<div class="w-KDA h-100 d-flex justify-content-center align-items-center font-weight-bold float-left">
			{{match.info.KDA}}
		</div>
		<div class="w-items h-100 d-flex justify-content-center align-items-center float-left">
			<div class="d-inline-block w-item-box">
			{% for item in match.info.items %}
				<div class="item-container-dimensions d-flex justify-content-center align-items-center float-left">
				{% if item != 0 %}
					<img src="{{cdn}}/{{patch}}/img/item/{{item}}.png" class="item-dimensions rounded">
				{% else %}
					<div class="bg-dark item-dimensions rounded opacity-light"></div>
				{% endif %}
				</div>
			{% endfor %}
			</div>
			<div class="item-container-dimensions d-flex justify-content-center align-items-center float-left">
				{% if match.info.trinket != 0 %}
					<img src="{{cdn}}/{{patch}}/img/item/{{match.info.trinket}}.png" class="item-dimensions rounded">
				{% else %}
					<div class="bg-dark item-dimensions rounded opacity-light"></div>
				{% endif %}
			</div>
		</div>
		{% for team in match.participantData %}
		<div class="w-players h-100 d-flex justify-content-center align-items-center float-left">
			<div class="d-block">
				{% for participant in team %}
				<div class="w-100 h-20 d-flex justify-content-center align-items-center float-left">
					<img src="{{cdn}}/{{patch}}/img/champion/{{participant.champion}}.png" class="float-left" height=20px width=20px/>
					<div class="w-playerInfoText">
						<form action="{% url 'home' %}" method="get">
							<input type="submit" class="btn btn-link text-dark font-size-13px w-100 d-block text-truncate text-left float-left p-1" value="{{participant.summonerName}}" name="username">
						</form>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		<button class = "bg-transparent border-left border-top-0 border-bottom-0 border-right-0 w-arrow h-100 d-flex justify-content-center align-items-center float-left">
			<i class="fa fa-angle-down" id="a{{match.gameId}}"> </i>
		</button>
	</div>
</div>
{% endfor %}