{% for match in matchData %}
<div class="row vw-100 h-match-mobile bg-{{match.info.matchStatus}} border p-1 my-1">
	<div class="col h-100 d-flex align-items-center text-center">
		<div class="d-block">
			<h4 class="small">
				{{match.timeStatus}}
			</h4>
			<div class="font-weight-bold small">
				{% if match.info.matchStatus == "remake" %}<div class="text-dark"> REMAKE</div>
				{% elif match.info.matchStatus == "win" %} <div class="text-primary">VICTORY</div>
				{% else %} <div class="text-danger">DEFEAT</div>
				{% endif %}
			</div>
			<div class = "small text-muted">
				{{match.gameDuration}}
			</div>
		</div>
	</div>
	<div class="col-4 h-100 d-flex align-items-center text-center">
		<div class="d-block">
			<img src="{{cdn}}/{{patch}}/img/champion/{{match.info.champion}}.png" height=50px width=50px class="rounded-circle unselectable"/>
			<div class="small">
				{{match.info.championName}}
			</div>
		</div>
		<div class="d-block">
			<img src = "{{cdn}}/{{patch}}/img/spell/{{match.info.spell1Id}}.png" height=24px width=24px class="p-2px"/>
			<img src = "{{cdn}}/{{patch}}/img/spell/{{match.info.spell2Id}}.png" height=24px width=24px class="p-2px"/>
		</div>
		<div class="d-block">
			<img src = "{{cdn}}/img/{{match.info.runes.all.0}}" height=24px width=24px class="p-2px"/>
			<img src = "{{cdn}}/img/{{match.info.runes.subRune}}" height=24x width=24px class="p-2px"/>
		</div>
	</div>
	<div class="col h-100 d-flex align-items-center font-weight-bold small">
		<div class="d-block text-center">
			{{match.info.KDA}}
			<button class="btn btn-dark font-weight-bold font-size-13px p-1 my-1" type="button" data-toggle="collapse" data-target="#dropdown_{{match.gameId}}" aria-expanded="false" id="dropdown_button_{{match.gameId}}">More <i class="fa fa-angle-down"></i></button>
		</div>
	</div>
	<div class="h-100 d-flex align-items-center float-left">
		<div class="d-inline-block w-item-box-mobile">
			{% for item in match.info.items %}
			<div class="item-container-dimensions-mobile d-flex justify-content-center align-items-center float-left">
			{% if item != 0 %}
				<img src="{{cdn}}/{{patch}}/img/item/{{item}}.png" class="item-dimensions-mobile rounded">
			{% else %}
				<div class="bg-dark item-dimensions-mobile rounded opacity-light"></div>
			{% endif %}
			</div>
			{% endfor %}
			<div class="item-container-dimensions-mobile d-flex justify-content-center align-items-center float-left">
				{% if match.info.trinket != 0 %}
					<img src="{{cdn}}/{{patch}}/img/item/{{match.info.trinket}}.png" class="item-dimensions-mobile rounded">
				{% else %}
					<div class="bg-dark item-dimensions-mobile rounded opacity-light"></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="collapse row vw-100" id="dropdown_{{match.gameId}}">
	<div class="col card card-body p-1 h-extended-mobile" id="content_{{match.gameId}}"></div>
</div>
<script type="text/javascript">
	$('#dropdown_button_{{match.gameId}}').on("click", function() {
		if($('#content_{{match.gameId}}').html() == "") {
			$.ajax({
				type: "POST",
				url: extended,
				data: {
					'gameId': '{{match.gameId}}',
					'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
		    	},
				success: function(response) {
					$("#content_{{match.gameId}}").html(response.extended_html);
				},
				error: function (response) {
				}
			});
		}
		var isVisible = $('#content_{{match.gameId}}').is(":visible");
		if(isVisible) {
			$('#dropdown_button_{{match.gameId}}').html('More <i class="fa fa-angle-down"></i>');
		} else {
			$('#dropdown_button_{{match.gameId}}').html('Less <i class="fa fa-angle-up"></i>');
		}
	});
</script>
{% endfor %}